body {
  /* max-width: 1440px; */
  width: 100vw;
  margin: 0 auto;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}
.imgLogoVerde {
  width: 70px;
}
.buttonStyle {
  font-size: 13px;
}
.titleStyle {
  font-size: 42px;
}
.titleHeader {
  font-size: 55px;
}
.peopleImg {
  height: 400px;
}
.sectionStyle {
  filter: brightness(0) invert(1);
}
.sectionIcon {
  width: 60px;
  height: 60px;
  border-radius: 20%;
  background-color: #2ad167;
  padding: 18px;
  margin: 30px 0 30px 0;
}
.sectionCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
}
.priceCard {
  font-size: 9px;
}
.listSize {
  font-size: 12px;
  color: #6e6e6e;
  margin-top: 7px;
  font-weight: 500;
}
.circle {
  z-index: 1;
  position: relative;
  right: 70px;
  bottom: 450px;
  height: 0;
  overflow: visible;
}
.circleImg {
  width: 115px;
  height: 115px;
}
.dots {
  z-index: 1;
  position: relative;
  left: 370px;
  bottom: 68px;
  height: 0;
  width: 0;
  overflow: visible;
}
.dotsImg {
  width: 115px;
  height: 115px;
}
.imgHeader {
  position: relative;
  right: 20px;
  bottom: 0;
}
.svgColor {
  fill: #2ad167;
  margin-right: 10px;
}
.btnHeaderGreen {
  background-color: #2ad167;
  width: 150px;
  height: 45px;
  border-radius: 5px;
}
.btnHeaderWhite {
  font-weight: 400;
  width: 120px;
  height: 45px;
  border-radius: 5px;
}

/* ESTILOS LOGIN */

.containerLogin {
  margin: 0 auto;
  background-color: #2a3342;
}
.containerForm {
  padding: 50px;
}
.divForm {
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 350px;
}
.formTitle {
  font-weight: 700;
  font-size: 29px;
}
.formSubtitle {
  font-weight: 500;
  color: #cec4c4a9;
  font-size: 18px;
}
.userData {
  display: flex;
  flex-direction: column;
  font-size: 11px;
  font-family: "Poppins", sans-serif;
}
.formControl {
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid gray;
}
#formButton {
  padding: 10px;
  background-color: #2ad167;
  border-radius: 5px;
  border: none;
  color: white;
  font-size: 16px;
}
.bkgdLogo {
  background-color: #2ad167;
  width: 60px;
  height: 60px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-content {
  background-color: #2a3342;
}
/* .inputCheck{
position: relative;
left: 1%;
width: 15px;
height: 15px;
} */
.labelForm {
  font-weight: 500;
  font-size: 12px;
}
.text {
  color: white;
}
.btn-close {
  position: relative;
  top: 50px;
  left: 450px;
  z-index: 2;
  filter: brightness(0) invert(1);
}
.warnings {
  width: 200px;
  text-align: center;
  margin: auto;
  color: red;
  padding-top: 20px;
  font-size: 12px;
}

@media (max-width: 400px) {
  .divForm {
    width: 250px;
  }
  .containerForm {
    padding: 10px;
  }
  .formTitle {
    font-size: 20px;
  }
  .formSubtitle {
    font-size: 13px;
  }
  .imgHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0px;
  }
  .peopleImg {
    width: 334px;
    height: 280px;
    padding: 20px;
    position: relative;
    left: 0px;
  }
  .circleImg {
    width: 65px;
    height: 65px;
  }
  .circle {
    bottom: 290px;
    right: 15px;
  }
  .dotsImg {
    width: 65px;
    height: 65px;
  }
  .dots {
    left: 251px;
  }
  .btnHeaderGreen {
    height: 30px;
    width: 120px;
    font-size: 10px;
  }
  .btnHeaderWhite {
    height: 30px;
    width: 120px;
    font-size: 10px;
  }
  .titleStyle {
    font-size: 28px;
  }
  .subtitle {
    font-size: 13px;
  }
  .headersection2 {
    margin-top: 30px;
  }
  .footerColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .header {
    padding: 0 0 30px 30px;
  }
  .headerBtns {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
